<br>
<div class="well" id="inlay">
  <h4>From Our Founder</h4>
  <p>The idea of Root was planted over ten years ago, as I was going through my own health crisis overcoming a very invasive cancer.</p>
  <p>Although there were many fear pictures with the diagnosis (my mother and aunt had died from the same), my intuition led me to seek out more ‘life-affirming’ approaches to my treatment besides surgery and radiation.</p>
  <p>It was during this journey that I met some of the most amazing teachers and practitioners in massage, yoga, chiropractic and naturopathic medicine that became my life-long guides and changed my beliefs about the power of intention forever.</p>
  <p>While I never acted on it at the time, I always wondered why there wasn’t a convenient place to access these services (certainly a hospital wasn’t life-affirming and driving all over town to individual offices wasn’t appealing). What if there was a place where preventative health was enjoyable? What if we built a community and lifestyle around taking care of yourself?</p>
  <p>So, a decade later, I welcome you to Root.</p>
  <p>It’s in honor of those who supported me in my journey. And it is my sincerest intention that Root supports you in yours.</p>
  <p>— Pat Johnson, Founder</p>
</div>
