<nav class="navbar navbar-default" id="body">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Root Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="teachers">Teachers</a><li>
      <li><a routerLink="calendar">Classes + Workshops</a><li>
      <li><a class="text-muted" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="body">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
