<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add New Yogi</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Yoga Style:</label>
        <br>
        <input #newStyle>
      </div>

      <div>
        <label>Profile:</label>
        <br>
        <textarea #newProfile></textarea>
      </div>

      <div>
        <label>Workshop:</label>
        <br>
        <input #newWorkshops>
      </div>

      <div>
        <label>Photograph:</label>
        <br>
        <input #newImage>
      </div>
      <br>
      <button (click)="submitForm(newName.value, newStyle.value, newProfile.value, newWorkshops.value, newImage.value); newName.value=''; newStyle.value=''; newProfile.value=''; newWorkshops.value=''; newImage.value=''">Namaste</button>
    </div>
  </div>
</div>
<div>
  <app-teachers></app-teachers>
</div>
