<div class="well">
  <h4>Welcome, everyone.
  Root is a comfortable yoga studio environment that students – whether experienced yogis or curious beginners – can happily call home. Our yoga and movement classes are open to every fitness level and can accommodate any level of practice.</h4>

  <h5>Movement at Root prioritizes traditional practices that balance the mind and body. Movement supports healthy circulation, keeps the connective tissues loose and flexible, and improves mood and mental clarity</h5>
</div>
