<div class="container">
  <div class="well">
    <h4>Welcome, everyone.
    Root is a comfortable yoga studio environment that students – whether experienced yogis or curious beginners – can happily call home. Our yoga and movement classes are open to every fitness level and can accommodate any level of practice.</h4>

    <h5>Movement at Root prioritizes traditional practices that balance the mind and body. Movement supports healthy circulation, keeps the connective tissues loose and flexible, and improves mood and mental clarity</h5>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>hatha</h4>
      <h5>energy **</h5>
      <p>The foundation of all yoga. Focuses on alignment and breath - moving at a mindful pace that can aid in healing from injury and finding overall balance.</p>
    </div>
    <div class="col-sm-4">
      <h4>vinyasa</h4><h5>energy ***</h5>
      <p>A dynamic practice which integrates synchronized breath with a flowing sequence - to increase concentration, muscular strength, and inner grace.</p>
    </div>
    <div class="col-sm-4">
      <h4>power vinyasa</h4>
      <h5>energy *****</h5>
      <p>A more intense practice, which takes place in a heated studio. Encourages strength, detoxification and will leave you feeling energized.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>family yoga</h4>
      <h5>energy *</h5>
      <p>Uses the power of storytelling to explore yoga postures and inspire body awareness for children 2-5 and adults alike.</p>
    </div>
    <div class="col-sm-4">
      <h4>pilates</h4><h5>energy ****</h5>
      <p>Improves core strength, muscle control, flexibility, coordination, and body tone. Uses a yoga mat and props to increase fitness and endurance and heighten clarity.</p>
    </div>
    <div class="col-sm-4">
      <h4>restorative</h4>
      <h5>energy *</h5>
      <p>Provides healing to the mind and body. Expels daily stress and fatigue. Seeks to achieve physical,mental and emotional relaxation with the aid of props.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>slow flow</h4>
      <h5>energy *</h5>
      <p>A balance between strength and grace. As meditation in motion, it encourages internal awareness and connection to breath.</p>
    </div>
    <div class="col-sm-4">
      <h4>yin yoga</h4><h5>energy *</h5>
      <p>A more meditative style of yoga with postures that are held for longer periods of time. Improves circulation and flexibility and cultivates inner awareness</p>
    </div>
    <div class="col-sm-4">
      <h4>yoga foundations</h4>
      <h5>energy **</h5>
      <p>Focuses on breath and alignment, refining the transitions between poses and fine-tuning the mechanics of the poses.</p>
    </div>
  </div>
</div>
