<div class="container">
  <div class="well">
    <h4>Welcome, everyone.
    Root is a comfortable yoga studio environment that students – whether experienced yogis or curious beginners – can happily call home. Our yoga and movement classes are open to every fitness level and can accommodate any level of practice.</h4>

    <h5>Movement at Root prioritizes traditional practices that balance the mind and body. Movement supports healthy circulation, keeps the connective tissues loose and flexible, and improves mood and mental clarity</h5>
  </div>
  <div class="row">
    <div class="col flex-unordered">
      <h4>hatha</h4>
      <h5>energy **</h5>
      <p>The foundation of all yoga. Focuses on alignment and breath - moving at a mindful pace that can aid in healing from injury and finding overall balance.</p>
    </div>
    <div class="col flex-last">
      <h4>vinyasa</h4><h5>energy ***</h5>
      <p>A dynamic practice which integrates synchronized breath with a flowing sequence - to increase concentration, muscular strength, and inner grace.</p>
    </div>
    <div class="col flex-first">
      <h4>power vinyasa</h4>
      <h5>energy *****</h5>
      <p>A more intense practice, which takes place in a heated studio. Encourages strength, detoxification and will leave you feeling energized.</p>
    </div>
  </div>
</div>
