<div class="container">
  <h1>Class Schedule</h1>
  <h4>find your perfect class. movement classes at Root are geared to both beginners and seasoned practitioners alike. we encourage you to try any class... or explore different ones. we’re here to help you find a class you love.</h4>
</div>
<div class="well" id="schedule">
  <h3>MONDAY</h3>
  <p>8am HATHA with Jeanette</p>
  <p>10:30am VINYASA with Michelina</p>
  <p>noon POWER VINYASA with Shaney</p>
  <p>2:45pm YIN with Rachel<p>
  <p>5pm PILATES with Chia</p>
  <p>7:30pm FOUNDATIONS with Nathan</p>
  <br>
  <h3>TUESDAY</h3>
  <p>8am SLOW FLOW with Nathan</p>
  <p>10:30am FAMILY YOGA with Jacquie</p>
  <p>noon VINYASA with Ian</p>
  <p>2:45pm HATHA with Rachel<p>
  <p>5pm RESTORATIVE with Brittany</p>
  <p>7:30pm POWER VINYASA with Bryan</p>
  <br>
  <h3>WEDNESDAY</h3>
  <p>8am POWER VINYASA with Shaney</p>
  <p>10:30am FOUNDATIONS with Jacquie</p>
  <p>noon HATHA with Nathan</p>
  <p>2:45pm POWER VINYASA with Bryan<p>
  <p>5pm YIN with Rachel</p>
  <p>7:30pm VINYASA with Michelina</p>
  <br>
  <h3>THURSDAY</h3>
  <p>8am SLOW FLOW with Nathan</p>
  <p>10:30am FAMILY YOGA with Jacquie</p>
  <p>noon VINYASA with Ian</p>
  <p>2:45pm HATHA with Rachel<p>
  <p>5pm RESTORATIVE with Brittany</p>
  <p>7:30pm POWER VINYASA with Bryan</p>
  <br>
  <h3>FRIDAY</h3>
  <p>8am HATHA with Jeanette</p>
  <p>10:30am VINYASA with Michelina</p>
  <p>noon POWER VINYASA with Shaney</p>
  <p>2:45pm YIN with Rachel<p>
  <p>5pm PILATES with Chia</p>
  <p>7:30pm FOUNDATIONS with Nathan</p>
  <br>
  <h3>SATURDAY</h3>
  <p>8am POWER VINYASA with Brittany</p>
  <p>10:30am HATHA with Jacquie</p>
  <p>noon VINYASA with Ian</p>
  <p>2:45pm HATHA with Rachel<p>
  <p>5pm YIN with Brittany</p>
  <p>7:30pm PILATES with Rachel</p>
  <br>
  <h3>SUNDAY</h3>
  <p>8am SLOW FLOW with Rachel</p>
  <p>10:30am FOUNDATIONS with Jeanette</p>
  <p>noon RESTORATIVE with Ian</p>
  <p>2:45pm HATHA with Rachel<p>
  <p>5pm VINYASA with Chia</p>
  <p>7:30pm POWER VINYASA with Ian</p>
</div>
  <!-- <h1>Workshops</h1>
  <h4>our workshops are the perfect way for you to transform your long term goals in real practice. everything from meditation series to handstand workshops to awaken the yogi in you.</h4>
  <h5>{{(teacherToDisplay | async).workshops}}</h5>
</div> -->
